@import "../../assets/SCSS/variables.scss";
.sign-form
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/signbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .sign-in
    {
        background-color: rgba($color: #131720, $alpha: 0.8);
        width: 60%;
        margin: auto;
        color: white;
        text-align: center;
        padding: 40px;
        border: 1px solid #151f30;
        border-radius: 16px;
        min-width: 360px;
        max-width: 400px;
        width: 100%;
       

        .logo
        {
            margin-bottom: 40px;
            img
            {
                max-width: 100%;
            }
        }
        form
        {
            .form-group
            {
                display: flex;
                flex-direction:column;
                margin-bottom: 20px;
                label{
                    color:#EEE;
                    font-size:18px;
                    padding: 10px;
                    text-align: left;
                }
                input
                {
                    background-color: #151F30;
                    outline: none;
                    border: 0;
                    border-radius: 16px;
                    padding: 20px 25px;
                    color: white;
                        font: {
                            family: $mainFont;
                            size: 15px;
                        };
                    &::placeholder
                    {
                        color: white;
                        font: {
                            family: $mainFont;
                            size: 15px;
                        };
                    }
                }
            }
         
            a
            {
                background-color: $mainColor;
                width: 100%;
                padding: 12px 0;
                border-radius: 16px;
                margin: 15px 0;
                text-transform: uppercase;
                color: white;
                font: {
                    family: $mainFont;
                    size: 15px;
                    weight: 500;

                };
                transition: 0.3s;
                text-decoration: none;
                &:hover
                {
                    background-color: white;
                    color: black;
                }
            }
        }
        span
        {
           
            font-size: 16px;
            color: #e0e0e0;
            line-height: 100%;
            position: relative;

            &::after
            {
                content: "";
                position: absolute;
                top: 50%;
                left: 150%;
                height: 2px;
                width: 100px;
                background-color: $mainColor;
            }
            &::before
            {
                content: "";
                position: absolute;
                top: 50%;
                right: 150%;
                height: 2px;
                width: 100px;
                background-color: $mainColor;
            }
        }
       

        p
        {
            font-size: 15px;
            color: #e0e0e0;
            button
            {
                margin-right: 15px;
                text-decoration: none;
                color: $mainColor;
                outline: 0;
                border: 0;
                background-color: transparent;
                &:hover
                {
                    text-decoration: underline;
                }
            }
        }
    }
}
