<section id="smallPlans">
    <div class="container">
        <div class="section-title">
            <h2>Select Your Plan</h2>
            <p>No hidden fees, equipment rentals, or installation appointments.</p>
        </div>
        <div class="section-plans">
            <div class="row">
                <div class="col-md-6 col-lg-4 ">
                    <div class="plan">
                        <h4 class="plan-title">
                            Regular
                        </h4>
                        <div class="plan-features">
                            <p>
                                <i class="fas fa-check green"></i>
                                FlixTV Originals
                            </p>
                            <p>
                                <i class="fas fa-check green"></i>
                                Switch plans or cancel anytime
                            </p>
                            <p>
                                <i class="fas fa-times red"></i>
                                Stream 65+ top Live
                            </p>
                            <p>
                                <i class="fas fa-times red"></i>
                                TV channels
                            </p>
                        </div>
                        <p class="plan-price">
                            <span>$11.99</span>
                            /month
                        </p>
                        <button type="button"  class="plan-btn mx-auto">Select Plan</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="plan special-plan">
                        <h4 class="plan-title">
                            Premium
                        </h4>
                        <div class="plan-features">
                            <p>
                                <i class="fas fa-check green"></i>
                                FlixTV Originals
                            </p>
                            <p>
                                <i class="fas fa-check green"></i>
                                Switch plans or cancel anytime
                            </p>
                            <p>
                                <i class="fas fa-check green"></i>
                                Stream 65+ top Live
                            </p>
                            <p>
                                <i class="fas fa-times red"></i>
                                TV channels
                            </p>
                        </div>
                        <p class="plan-price">
                            <span>$34.99</span>
                            /month
                        </p>
                        <button type="button"  class="plan-btn">Select Plan</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="plan">
                        <h4 class="plan-title">
                            Premium + TV channels
                        </h4>
                        <div class="plan-features">
                            <p>
                                <i class="fas fa-check green"></i>
                                FlixTV Originals
                            </p>
                            <p>
                                <i class="fas fa-check green"></i>
                                Switch plans or cancel anytime
                            </p>
                            <p>
                                <i class="fas fa-check green"></i>
                                Stream 65+ top Live
                            </p>
                            <p>
                                <i class="fas fa-check green"></i>
                                TV channels
                            </p>
                        </div>
                        <p class="plan-price">
                            <span>$49.99</span>
                            /month
                        </p>
                        <button type="button"  class="plan-btn">Select Plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

